.texts {
  margin-right: 60%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.015em;

  color: #000000;
}

.titleBox {
  box-sizing: border-box;
  width: 50%;
  height: 56px;
  border: 1px solid #18a0fb;
  border-radius: 10px;
}
/* 
.contentBox {
  box-sizing: border-box;
  position: absolute;
  width: 1500px;
  height: 460px;
  left: 530px;
  top: 500px;

  border: 1px solid #18a0fb;
  border-radius: 10px;
} */

#title {
  top: 400px;
}
#content {
  top: 500px;
}
#addfile {
  top: 1000px;
}

.addfileButton {
  position: absolute;
  width: 1500px;
  height: 56px;
  left: 530px;
  top: 990px;
  background-color: white;
  color: #18a0fb;
  padding: auto;
  border: 1px solid #18a0fb;
  border-radius: 6px;
  cursor: pointer;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  white-space: nowrap; /* 텍스트가 넘칠 때 줄바꿈 방지 */
}
