.hr-solid {
  margin-top: 10%;
  width: 70%;
  border: 0px;
  border-top: 1px solid black;
}
.hr-solid2 {
  width: 70%;
  border: 0px;
  border-top: 1px solid black;
}

.hr-solid3 {
  margin-top: 5%;
  width: 70%;
  border: 0px;
  border-top: 1px solid black;
}

.title {
  margin-right: 30%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.015em;

  color: #000000;
}
.photocontainer3 {
  margin-top: 5%;
  display: flex;
  border: 1px solid black;
  justify-content: space-evenly;
  margin-left: 15%;
  width: 70%;
}

.filename {
  margin-top: 15%;
  margin-right: 30%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.015em;

  color: #000000;
}

.photoReadContent {
  margin-top: 5%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: #000000;
}
