.photoimages4 {
  width: 420px;
  height: 270px;
  border: 1px solid black;
  /* background-image: url("../images/MAP_logo.png"); */
  background-size: cover;
  cursor: pointer;
  margin: 10px;
}

.photocontainer1 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
}

.photoimages4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
