#name {
  margin-top: 5%;
  margin-right: 32%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.015em;
  color: #000000;
}

#namedata {
  margin-right: 32%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.015em;

  color: rgba(0, 0, 0, 0.8);
}

#fakename {
  margin-top: 5%;
  margin-right: 30%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.015em;
  color: #000000;
}

#fakenamedata {
  margin-right: 32%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.015em;
}

#birth {
  margin-top: 5%;
  margin-right: 33%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.015em;
  color: #000000;
}

#birthdata {
  margin-right: 33%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.015em;
}

#email {
  margin-top: 5%;
  margin-right: 33%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.015em;
  color: #000000;
}

#emaildata {
  margin-right: 33.5%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.015em;
}

#phonenumber {
  margin-left: 30%;
  position: relative;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.015em;
  color: #000000;
}
#phonenumberdata {
  margin-left: 30%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.015em;
}
#shcoolnumber {
  margin-left: 30%;
  position: relative;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.015em;
  color: #000000;
}
#schoolnumberdata {
  margin-left: 30%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.015em;

  color: rgba(0, 0, 0, 0.8);
}

#mytitle {
  margin-left: 30%;
  position: relative;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.015em;
  color: #000000;
}

#mytitledata {
  margin-left: 30%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.015em;

  color: rgba(0, 0, 0, 0.8);
}
.box4 {
  width: 150px;
  height: 150px;
  border-radius: 70%;
  overflow: hidden;
  margin-left: 50%;
}
.profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bolt {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.goFeedBack {
  margin-left: 20px;
  width: 120px;
  background-color: transparent;
  color: #18a0fb;
  padding: 10px 15px;
  border: 1px solid #18a0fb;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.015em;
}
