.menustyle{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: #000000;
  white-space: nowrap;
}

.menustyle1 {
  margin-left: 3%;
}
#구분 {
  margin-left: 4%;
}
#제목 {
  margin-left: 16%;
}
#조회 {
  margin-left: 39%;
}
#날짜 {
  margin-left: 5%;
}
#작성자 {
  margin-left: 5%;
}

.menucontainer {
  display: flex;
  margin-top: 6%;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}
.cancelButton,
.designationButton {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ddd;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  margin: 0 5px;
}

.cancelButton {
  margin-top: 100px;
  background-color: #fff;
  color: #000;
}

.designationButton {
  margin-top: 100px;
  margin-left: 13%;
  background-color: #000;
  color: #fff;
}

.cancelButton:hover,
.designationButton:hover {
  background-color: #ccc;
}

/* 추가 스타일 */

.cancelButton:active,
.designationButton:active {
  background-color: #ddd;
}

.pageingBox {
  margin-top: 100px;
}
.pageingButton {
  width: 50px;
  background-color: transparent;
  color: #18a0fb;
  padding: 5px 8px;
  border: 1px solid #18a0fb;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.015em;

  margin-left: 20px;
}
