.menustyle1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  margin-left: 3%;
  letter-spacing: -0.015em;
  color: #000000;
}
.menustyle2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  margin-left: 4%;
  letter-spacing: -0.015em;
  color: #000000;
}
.menustyle3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  margin-left: 16%;
  letter-spacing: -0.015em;
  color: #000000;
}
.menustyle4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  margin-left: 39%;
  letter-spacing: -0.015em;
  color: #000000;
}
.menustyle5 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  margin-left: 5%;
  letter-spacing: -0.015em;
  color: #000000;
}
.menustyle6 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  margin-left: 5%;
  letter-spacing: -0.015em;
  color: #000000;
}

.menucontainer {
  display: flex;
  margin-top: 6%;
}

.designationButton {
  margin-top: 100px;
}
.cancelButton {
  margin-top: 100px;
}
.pageingBox {
  margin-top: 100px;
}
.pageingButton {
  width: 50px;
  background-color: transparent;
  color: #18a0fb;
  padding: 5px 8px;
  border: 1px solid #18a0fb;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.015em;

  margin-left: 20px;
}
