.form {
  margin-top: 5%;
}
.form-group {
  margin-left: 10%;
  display: flex;
  align-items: flex-start; /* 상단에 위치하도록 변경 */
  margin-bottom: 1em;
  padding-right: 5%; /* 페이지 오른쪽 부분에서 떨어뜨리기 */
}
.formText {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  color: #000000;
  margin-right: 3em;
  /* align-self: center; */
  align-items: flex-start; /* 상단에 위치하도록 변경 */
}

.titleBox,
.contentBox {
  flex-grow: 1;
  box-sizing: border-box;
  border: 1px solid #18a0fb;
  border-radius: 10px;
}

.titleBox {
  height: 50px;
}

.contentBox {
  height: 400px;
}

.addImgButton {
  cursor: pointer;
  width: 40px;
  height: 40px;

  margin-left: -50px;
}
